{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Mohammad Hosseini</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <script src="https://kit.fontawesome.com/2ca6929b53.js" crossorigin="anonymous"></script>
    
     <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">   
     <link id="theme-style" rel="stylesheet" href="{% static 'css/styles.css' %}">
     <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
</head>
<body>

    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="{% static 'images/mohammad.jpg' %}" alt="Portfolio | Mohammad - BackEnd Developer" title="Portfolio | mohammad" height="200" width="200" style="box-shadow: 0px 0px 10px #888; border-radius: 100px 100px 100px 100px;"/>
            <div class="profile-content pull-left">
                <h1 class="name">Mohammad Hosseini</h1>
                <h2 class="desc">BackEnd Developer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://github.com/mamadhss"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://t.me/mamadhss"><i class="fa fa-telegram"></i></a></li>
                   
                    <li><a href="https://twitter.com/g4teway504"><i class="fa fa-twitter"></i></a></li>    
                    
                    <li><a href="tel:+989351792964"><i class="fa fa-phone"></i></a></li>
                                      
                    <li class="last-item"><a href="https://www.instagram.com/_mamadhss/"><i class="fa fa-instagram"></i></a></li> 
                                    
                </ul> 
            </div><!--//profile-->
            <div class="pull-right">
            <a class="btn btn-cta-primary pull-right" href="mailto:mamadhss@yahoo.com" target="mailto:mamadhss@yahoo.com"><i class="fa fa-paper-plane"></i> Mail</a>&nbsp;
            
        </div>
        </div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I love coding, doing research and collaborating</p>
                                
                            
                            <p>I'm a BackEnd Developer(Django) <br/>
                            and A part time Blogger <br/>
                            Who loves to learn and try new tools & technologies.</p>
                            
                              <p>
                                    <b>Languages:</b> Python,C,Javascript,SQL<br />
                                    <b>Frameworks:</b> Django,Django REST Framework,Flask<br/>
                                    <b>Operating System:</b>Linux, Windows<br/>
                                    <b>Other :</b> Git, HTML, CSS, Postgres, MongoDB,Docker, 
                             </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->

                <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content">    
                                               
                            <div class="item featured text-center">
                                <h3 class="title"><a href="https://github.com/mamadhss/djblg" target="_blank">Django blog</a></h3>
                                <p class="summary">  </p>
                                <div class="featured-image">
                                    <a href="Django blog " target="_blank">
                                    <img class="img-responsive project-image" src="{% static 'images/djblg.jpg' %}" alt="Recipes REST API" />
                                    </a>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                        
                                    </div>
                                   
                                    
                                <div class="desc text-left">                                    
                                    <p>Caching content,
                                        Adding student registration,

                                        Handling authentication.<br/>
                                    Used PostgreSQL as the database </p>
                                    <b>Technology Stack:</b> - Django,PostgreSQL.
                                </div><!--//desc-->         
                                <a class="btn btn-cta-secondary" href="https://github.com/mamadhss/djblg" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>                 
                            </div><!--//item-->

                        </div>   
                    </div>
                </section>   
    


        </div>      
            

                
        

        
    
            
    </div>



    

   


    
    
    
    
    


                

    
  
    
    <footer class="footer">
        <div class="container text-center">
            <p>Copyright © Mohammad Hosseini 2020 </p>
        </div><!--//container-->
    </footer><!--//footer-->


    

                      

    

   
    
    

    
  
    
    
    
    



                
                
                
                
                
               



                            





     
                                    
                    
                              


    









                                   
    <script type="text/javascript" src="{% static 'plugins/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'plugins/jquery-rss/dist/jquery.rss.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>     
</body>
</html>
